<div class="vista-form layout-defecto col w-100">

    <div class="panel detalle principal">
        <form noValidate="novalidate">


            <!-- Tab cuando Ocurrio-->
            <div class="pan-encabezado">
                <div class="dialogo-botones">
                    <button type="button" class="close volver"><span aria-hidden="true">×</span></button>
                </div>
                <h4>¿Cuándo ocurrió?</h4>
            </div>
            <div class="datos">
                <!-- Pasos -->
                <div class="pasos">
                    <nav aria-label="Paginador">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <div class="sin-enlace">Cuándo ocurrió</div>
                            </li>
                            <li class="page-item"><a class="page-link" awNextStep>Siguiente</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Pasos -->
                <div class="pasos">
                    <nav aria-label="Paginador">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <div class="sin-enlace">Cuándo ocurrió</div>
                            </li>
                            <li class="page-item"><a class="page-link" awNextStep>Siguiente</a></li>
                        </ul>
                    </nav>
                </div>
            </div>



            <!-- Tab A quien le ocurrio-->

            <div class="pan-encabezado">
                <div class="dialogo-botones">
                    <button type="button" class="close volver"><span aria-hidden="true">×</span></button>
                </div>
                <h4>¿A quién le ocurrió?</h4>
            </div>
            <div class="datos">
                <!-- Pasos -->
                <div class="pasos">
                    <nav aria-label="Paginador">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" awPreviousStep>Anterior</a></li>
                            <li class="page-item">
                                <div class="sin-enlace">¿A quién le ocurrió?</div>
                            </li>
                            <li class="page-item"><a class="page-link" awNextStep>Siguiente</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Pasos -->
                <div class="pasos">
                    <nav aria-label="Paginador">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" awPreviousStep>Anterior</a></li>
                            <li class="page-item">
                                <div class="sin-enlace">¿A quién le ocurrió?</div>
                            </li>
                            <li class="page-item"><a class="page-link" awNextStep>Siguiente</a></li>
                        </ul>
                    </nav>
                </div>
            </div>


            <!-- Tab Indicar el lugar el de ocurrencia-->

            <div class="dialogo-botones">
                <button type="button" class="close volver"><span aria-hidden="true">×</span></button>
            </div>
            <div class="pan-encabezado">
                <h4>¿Dónde Ocurrió?</h4>
            </div>
            <div class="datos">
                <!-- Pasos -->
                <div class="pasos">
                    <nav aria-label="Paginador">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" awPreviousStep>Anterior</a></li>
                            <li class="page-item">
                                <div class="sin-enlace">Dónde ocurrió</div>
                            </li>
                            <li class="page-item"><a class="page-link" awNextStep>Siguiente</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Pasos -->
                <div class="pasos">
                    <nav aria-label="Paginador">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" awPreviousStep>Anterior</a></li>
                            <li class="page-item">
                                <div class="sin-enlace">Dónde ocurrió</div>
                            </li>
                            <li class="page-item"><a class="page-link" awNextStep>Siguiente</a></li>
                        </ul>
                    </nav>
                </div>
            </div>



            <div class="vista-form">

                <div class="pan-encabezado">
                    <div class="dialogo-botones">
                        <button type="button" class="close volver"><span aria-hidden="true">×</span></button>
                    </div>
                    <h4>
                        <span>Error</span>
                    </h4>
                </div>
                <!--Mensaje de Error -->
                <div class="form">
                    <div class="datos">
                        <div class="mensaje-icono">
                            <i class="fas fa-exclamation-triangle"></i>
                        </div>
                        <div class="mensaje-texto">
                            <p> Test </p>
                        </div>
                    </div>
                    <div class="right">
                        <button class="boton color-resaltado volver" type="button"><span class="texto-sinImagen" >Aceptar </span></button>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>